@model CvSitesi.Models.Sertifika
@{
    ViewBag.Title = "YeniSertifika";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="">
    <h1 class="display-1 text-center">Sertifika Ekle</h1>
</div>
<br>
<br />
<br />
<form class="form-group" method="post">
    @Html.LabelFor(x => x.Baslik)
    @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control" })

    @Html.ValidationMessageFor(model => model.Baslik, "", new { @class = "text-black" })
    <br />
    @Html.LabelFor(x => x.Aciklama)
    @Html.TextAreaFor(x => x.Aciklama, new { @class = "form-control" })

    @Html.ValidationMessageFor(model => model.Aciklama, "", new { @class = "text-black" })
    <br />
    @Html.LabelFor(x => x.SImage)
    @Html.TextBoxFor(x => x.SImage, new { @class = "form-control" })

    @Html.ValidationMessageFor(model => model.SImage, "", new { @class = "text-black" })
    <br />
    @Html.LabelFor(x => x.SLink)
    @Html.TextBoxFor(x => x.SLink, new { @class = "form-control" })

    @Html.ValidationMessageFor(model => model.SLink, "", new { @class = "text-black" })
    <br />

    <br />
    <button class="btn btn-info">Sertifika Ekle</button>
</form>




<div align="center">
    <p>
        <button class="btn btn-danger" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Dikkat !</button>
    </p>
    <div class="row">
        <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample1">
                <div class="card card-body">
                    <p>Hiçbir kutucuğu boş bırakmayınız.</p>
                    <p>Açıklama kısmına 10 karakterden az karakter girmeyiniz.</p>
                    <p>Sertifika linki kısmına 30 karakterden az karakter girmeyiniz.</p>
                    <p>Url yazılan kısımlara hizliresimden resmi yükleyip doğrudan linkini buraya yapıştırınız.</p>
                    <p>Hizli resim yüklemek için <a target="_blank" href="https://xbossitex.rf.gd/hizliresim/">!!!Buraya Tıkla!!!</a></p>
                    <p>Başlık ve açıklama sadece mobil görünümde aktiftir.</p>
                </div>
            </div>
        </div>
    </div>
</div>