@model CvSitesi.Models.Hakkimda
@{
    ViewBag.Title = "YeniHakkimda";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="">
    <h1 class="display-1 text-center">Hakkımda Ekle</h1>
</div>
<br>
<br />
<br />
<form class="form-group" method="post">
    @Html.LabelFor(x => x.Baslik)
    @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Baslik, "", new { @class = "text-black" })
    <br />
    @Html.LabelFor(x => x.Aciklama)
    @Html.TextBoxFor(x => x.Aciklama, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Aciklama, "", new { @class = "text-black" })
    <br />
    <br />
    <button class="btn btn-info">Hakkımda Ekle</button>
</form>



<div align="center">
    <p>
        <button class="btn btn-danger" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Dikkat !</button>
    </p>
    <div class="row">
        <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample1">
                <div class="card card-body">
                    <p>Hiçbir kutucuğu boş bırakmayınız.</p>
                    <p>Sadece bir kez eklenebilir.</p>
                </div>
            </div>
        </div>
    </div>
</div>

